<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body>

<h1>Rock Paper Scissors</h1>
<h2>Pick Rock, Paper or Scissors Below!</h2>

<form action="Output.html" th:action="@{Process}">
    <p>
        <!--Radio Buttons-->
        <label><input type="radio" name="option" value="0" checked>ROCK</label>
        <label><input type="radio" name="option" value="1">PAPER</label>
        <label><input type="radio" name="option" value="2">SCISSORS</label>

    </p>
    <p>
        <!--Submit Button-->
        <input type="submit" value="Play!">
    </p>
</form>

</body>
</html>