<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body>

<h1>Rock Paper Scissors</h1>
<h2>Pick Rock, Paper or Scissors Below!</h2>
<form action="Output.html" th:action="@{Process}">
    <p>
        <!--Radio button-->
        <input type="radio" id="rock" name="option" value="0">
        <label for="rock">ROCK</label><br>
        <input type="radio" id="paper" name="option" value="1">
        <label for="paper">PAPER</label><br>
        <input type="radio" id="scissors" name="option" value="2">
        <label for="scissors">SCISSORS</label>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>