<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
<h1>Game!</h1>

<p>You Chose:</p>
<th:block th:switch="${game.userChoice}">
    <p th:case="*">ROCK</p>
    <p th:case="1">PAPER</p>
    <p th:case="2">SCISSORS</p>
</th:block>

<p>The Computer Chose:</p>
<th:block th:switch="${game.computerRandChoice}">
    <p th:case="*">ROCK</p>
    <p th:case="1">PAPER</p>
    <p th:case="2">SCISSORS</p>
</th:block>
<h1 th:text="${game.getOutcome()}"></h1>

<p>
    <!--Return to input page-->
    <a href="Input.html" th:href="@{Input}">Back to Input</a>
</p>
</body>
</html>